@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ATH Car Rent Network System</h1>
    <div class="text-center">
    <p>
        Call or mail us with an id of a car you want to rent and we will ship it to you in 12 minutes!
    </p>

    <p>
        Look how awesome our cars are!
    </p>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <img src="~/lib/Images/car1.jfif"/>
        </div>
        <div class="col-sm">
          <img src="~/lib/Images/car2.jfif" />
        </div>
        <div class="col-sm">
          <img src="~/lib/Images/car3.jfif" />
        </div>
      </div>
    </div>
    </div>

</div>

