@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Wypożyczalnia samochodów</h1>
    <br /> <br />
    <p style="font-family; font-size: 21px">Stwórz własne konto i wypożycz od razu swój ulubiony samochód lub zarezerwuj go na wybraną datę.</p>
    
</div>
